<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar</title>
</head>

<body>
    <header class="header">
        <a href="/">Home|</a>

    </header>

    <h1>Editar Personagens</h1>

    <form method="POST">
        <div>
            <label for="nome">Nome: </label>
            <input type="nome" name="pers_name" id="nome" placeholder="Digite o nome"
                value="<%= personagens.pers_name%>" required>
        </div>
        <div>
            <label for="imagem">Imagem: </label>
            <input type="imgagem" name="ima_url" id="imagem" placeholder="Coloque a url da imagem"
                value="<%= personagens.ima_url%>" required>
        </div>
        <div>
            <label for="raca">Raça: </label>
            <input type="text" name="raca" id="raca" placeholder="Digite a Raça" value="<%= personagens.raca%>"
                required>
        </div>
        <div>
            <label for="habilidade">Habilidade: </label>
            <input type="text" name="habilidade" id="habilidade" placeholder="Digite a Habilidade"
                value="<%= personagens.habilidade%>" required>
        </div>
        <div>
            <label for="equipamento">Equipamento: </label>
            <input type="text" name="equipamento" id="equipamento" placeholder="Digite o Equipamento"
                value="<%= personagens.equipamento%>" required>
        </div>
        <div>
            <label for="descricao">Descricao: </label>
            <input type="text" name="descricao" id="descricao" placeholder="Digite a Descrição"
                value="<%= personagens.descricao%>" required>
        </div>

        <button id= "cadastro" type="submit">enviar</button>
    </form>
    <footer>
        <p>
            < copyright 2021 by myself>
        </p>
    </footer>
    <script src="/js/script.js"></script>

</body>

</html>